* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.img1 {
  height: 400px;
  width: 300px;
  margin: 20px;
  padding: 30px;
  background-color: #443636;
  display: block;
}

.img2 {
  height: 400px;
  width: 300px;
  padding: 20px;
  margin: 30px;
}

h1 {
  background-color: aqua;
  display: inline;
}

.parent {
  height: 600px;
  width: 600px;
  background-color: aquamarine;
  position: relative;
  left: 10%;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}
.child1 {
  height: 150px;
  width: 150px;
  background-color: #3c3737;
  position: absolute;
  bottom: 0;
  right: 0;
}
.child2 {
  height: 100px;
  width: 100px;
  background-color: #608164;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* .child3 {
  height: 150px;
  width: 150px;
  background-color: blueviolet;
}
 .shiz {
  position: absolute;
  top: 10%;
  left: 20%;
} */
